.chat-container {
  padding: 32px;
  background-color: #e2dfdf;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Lucida Console', monospace;
  position: relative;
  z-index: 1;
  align-items: center;

  max-width: 600px;
  width: 100%;
}

.chat-header {
  font-size: 10rem;
  font-weight: 600;
  margin-bottom: 24px;
  text-align: center;
  color: #000000;
}

.input-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.answer-box {
  display: flex;
  background: #e5e8ea;
  border-radius: 8px;
  opacity: 10%;
  padding: 16px;
  white-space: pre-wrap;
  font-size: 1rem;
  color: #1e1e1e;
  font-family: 'Times New Roman', Times, serif;
}

.dither-container {
  width: 100%;
  height: 100%;
  position: relative;
}

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  top: 0;
  left: 0;
  z-index: -1;
}

body {
  margin: 0;
  overflow: hidden;
  background: #000;
}